<main class="content wrap animated animated-mid fadeInUp" role="main">
  <section class="about" style="margin-top:8rem;">
    <h1>Brittany Mederos</h1>
    <p class="subheader">Focusing on the user, one problem at a time</p>
    <p>I’m currently a lead interaction designer at <%= link_to "Elementum SCM", "http://elementum.com" %>, an enterprise software startup focused on “Making supply chain simple”. Every day I work closely with product managers, stakeholders, and engineering teams to design useful, usable interfaces for logistics managers in Fortune 500 companies across mobile, web, and large-screen displays.</p>

    <p>I fight for the user, continuously striving to inspire empathy and the creation of meaningful applications and interactions. I find it exciting to pull team together to go through design explorations and convergences. I’ve found this to be the best path to create innovative solutions that solve not-so-obvious problems.</p>

    <p>When I’m not designing I enjoy teaching others who are interested in design through the meetup group <%= link_to "Designer’s Hearth Mountain View", "http://www.meetup.com/designers-hearth-mountain-view/" %> I helped co-start. Or you can <%= link_to "find me climbing", "https://instagram.com/p/rNisjOEChM/?taken-by=brimederos" %> at the local Planet Granite climbing gym.</p>
  </section>

  <section class="case-studies group">
    <p class="subheader"><b>Case studies</b> are invaluable for both you and I.</p>
    <p>For starters, you learn about my (and my team's) process. For me, it gives me time for reflection so that I can do better in the future. Win-win. Check 'em out here:</p>

    <%= render "brittany/case_study_cards" %>
  </section>

  <section class="blog"> 
    <p class="subheader">Ah, <b>my writing</b>.</p>
    <p>I typically write about interaction design patterns, specifically problems I come across day-to-day, and tips for approaching those problems if you find yourself staring them down. Here's a few recent thoughts:</p>
    <%= render 'pages/blog_cards', author: "Brittany", visible_posts: 3 %>  
  </section>
  <section class="contact"> 
    <p class="subheader">Where can you <b>find me on the web?</b></p>
    <p>I'm a terrible Twitterer, but I try my best <%= link_to "over at @brim", "http://twitter.com/brim" %>. If you're looking for my professional stuff, you might want to <%= link_to "try LinkedIn", "http://www.linkedin.com/in/brittanymederos/en" %>, or catch small bits of my visual work <%= link_to "on Dribbble", "http://dribbble.com/brim" %>. You can find my adventures (cooking, rock clibming, lots of coffee,  and beach-goings) over <%= link_to "on Instagram", "https://instagram.com/brimederos/" %>.</p>
    <p>If <b>email</b> is your cup of tea, <%= mail_to "bm@enchant.co", "send me a message here" %>; but be warned: Inbox Zero is not a common place for me.</p>
  </section>
</main>

<% if Rails.env.production? %>
  <script type="text/javascript">
    if (typeof analytics !== "undefined") {
      analytics.page("About - Brittany");
    }
  </script>
<% end %>